DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=blg
APP_ENV=development

TITLE="MH CMS"
META_DESC="A blog developed by Muhammad Hannan using PHP & MySQL."
KEYWORDS="PHP, Laravel, Vue JS, WordPress, plugin"
